/* This file is for styles which modify site decoration. */

.seperator {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.extratext {
    color: grey;
    font-family: 'Muli';
    font-size: 15px;
    text-align: center;
    display: inline-block;
}

.p {
    color:  white;
}

.h1 {
    color: white;
}

.h3 {
    color: white;
}

a {
    color: grey;
    font-family: 'Muli';
    font-size: 15px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}